# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore compiled files
*.log
*.cache
*.class

# Ignore system files
.DS_Store
Thumbs.db

server/mern-blogging-website-c0b9f-firebase-adminsdk-zefln-4f1ba04329.json
